body{
			
	background-repeat:repeat;
	background-position:top center;
	background-attachment:scroll;
	background-color:#333f3f;
	font-weight:normal;
}
h1{
	font:normal 48px/48px "Trebuchet MS",Arial,Helvetica,sans-serif;
	color:#414141;
}
h2{
	font:normal 40px/58px "Trebuchet MS",Arial,Helvetica,sans-serif;
	color:#414141;
}

h3 a{
	color:#808080;
	padding-left:20px;
	font-size:20px;
	text-transform:lowercase;
}
h4{
	font:bold 16px/18px "Trebuchet MS",Arial,Helvetica,sans-serif;
	color:#414141;
}
h5{
	font:normal 12px/18px "Trebuchet MS",Arial,Helvetica,sans-serif;
	color:#414141;
	text-align:center;
}
h6{
	font:normal 12px/16px "Trebuchet MS",Arial,Helvetica,sans-serif;
	color:#64a0bc;
}

.logo_h__txt,.logo_link{font:normal 48px/30px Arial,Helvetica,sans-serif;color:#ffffff;}
.sf-menu>li>a{font:normal 14px/30px "Trebuchet MS",Arial,Helvetica,sans-serif;color:#ffffff;}
.nav.footer-nav a{font:normal 12px/30px Arial,Helvetica,sans-serif;color:#80878e;}
.logo_h__img{
	text-align:center;
	
}

.parallax-slider{
	
	width:100%;
	background-color:#99FFFF;
	background-image:url('../imgs/hinh-nen-header.jpg')
}
.background1{
	background-image:url('../imgs/background-image_pngtree.jpg');
	background-size: cover;
	padding:50px 0px;
	margin-left:-25px;
}
.row2{
	background-color:#000;
	margin-left:-25px;
	padding-left:20px;
}
.row2{
	width:100%;
	float:left;
}
.row_trang{
	width: 100%;
    margin-top: 50px;
    float: left;
    position: relative;
    height: 1px;
}
.pa_top{
	padding:30px 0px 0px 20px;
}
#slider1_container{
	margin:auto;
	margin-top:30px;
	padding:50px 0px 20px 0px;
}
#slider3_container{
	margin:auto;
}

.anhthietbi{
	width:100%;
}
.item{
	width:25%;
	float:left;
	position:relative;
}
.row{
	position:relative;
	width: 100%;
    float: left;
}

.desc{
	padding:40px;
	color:#fff;
}
.desc h5{
	background-color:#00FFCC;
}

@keyframes chance_br {
  from {}
  to {
		background-color: purple;	
		color:#fff;
	}
}
@keyframes chance_radius {
  from {border-radius:none}
  to {
		border-radius:100%;		
	}
}
@keyframes colorBackground {
     0% {
         background-color: yellowgreen;
         color: #0000BB;
    }
	25% {
         background-color: #FFCC00;
         color: yellow;
    }
     50% {
         background-color: red;
         color: #00EE00;
    }
	75% {
         background-color: #660000;
         color: white;
    }
}

.desc :hover {
	color:#FF3300	;
	animation-name: chance_br;
	animation-duration: 4s;
	background-color:purple;
	border-radius:5%;
}
.desc :hover img{
	animation-name: chance_radius;
	animation-duration: 4s;	
}
.margin_top_20{
	margin-top:20px;
}
.margin_left_10{
	margin-left: 10%;
}
.auto_chance{
         animation: colorBackground 1s infinite;
         -webkit-animation: colorBackground 5s infinite;
         -moz-animation: colorBackground 5s infinite;
         -o-animation: colorBackground 1s infinite
}
.cl_or{
	color:#FFCC00;
}
.mg{
	margin:-10px 5px 0px 0px;	
	float:left;	
}
td{
	margin:5px 0px;
}

.search{
	width: 500px;
	margin: auto;
}

.search >a>img{
	width:20px;
}
.search_text{
	margin:0px 5px 10px 0px;
	float: left;
}
.bd{
	border: 3px solid #000;
	margin:5px;
}		