
.row {
    width: 100%;
}



.row {
    margin-top: 20px;
}

.divrow {
    padding: 0px;
    padding-top: 0px;
}

.divrow:hover {
    box-shadow: 0px 0px 7px 2px rgb(179, 179, 179);
    z-index: 1;
    transition: .5s;
}

.divrow:hover img{
  transition: .5s;
  transform:scale(1);
  
}

.row-product {
    width: 100%;
    height: 100%;
    border: 1px solid rgb(221, 220, 220);
}

.row-product img {
    position: relative;
    width: 100%;
    z-index: 0;
    transform:scale(0.8);
    
}

.info p {
    padding: 0px 15px;
    
}
.info .Hang{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:max-content;
    height:30px;
    background-color: green;
    color:white;
    
    text-align:center;
    margin-left: 15px;
}

.info .price {
    color: rgb(190, 9, 9);
}
.col-center{
    display: flex;
 
    justify-content: center;
}
.title-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:90%;
    max-width: 350px;
    height:50px;
    text-align: center;
    font-size: 20px;
    font-family: 'UTM-Helvetins';
    text-transform: uppercase;
    align-content: flex-end;
    background-image: linear-gradient(90deg,greenyellow,green);
    color: white;
    padding: 0px 30px;
    z-index:1;
}
.right{
    
    width: 36px;
    height:36px;;
    
    border-bottom: none;
    border-right: none;
    background-color:green;
    margin-left: -18px;
    margin-top: 7px;
    transform:rotate(45deg);
}
.left{
    
    width: 36px;
    height:36px;
    
    border-bottom: none;
    border-right: none;
    background-color:greenyellow;
    margin-right: -18px;
    margin-top: 7px;
    transform:rotate(45deg);
}
.col-center .btn-all input{

    
    width:100%;
    height: max-content;
    font-size:15px;
    text-align: center;
    border: 1px solid rgb(197, 197, 197);
    color:green;
    padding-top: 10px;
    padding-bottom: 10px;
   

}
.btn-all{
    width: 40%;
}
.col-center .btn-all input:hover{
    transition: 1s;
    background-color:green;
    color:white;
}
.slider1_container{
    width: 100%;
}
.memu-product{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:max-content;
    margin-top: 10px;
    background: white;
    border-radius:20px ;
   box-shadow: 0 0 10px rgb(206, 205, 205);
    
}
.memu-product h2{
   
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-weight: 900;
   color: rgb(14, 148, 14);
   margin:30px 20px 5px;
}
.memu-product button{
    
    width:max-content;
    height: max-content;
    padding:10px 20px;
    border-radius: 50px;
    text-align: center;
   
    font-size: 20px;
    border:0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:white;
    margin: 15px 20px;
    background:#9B59B6;
}
a{
   
    text-decoration: none;
}
.list{
    list-style-type: none;
    float: left;
    background:rgb(245, 243, 243);
    padding:5px 10px;
    font-size:17px;
    margin: 5px;
    cursor: pointer;
}
.jssorb05 {
    position: absolute;
}

.jssorb05 div,
.jssorb05 div:hover,
.jssorb05 .av {
    position: absolute;
    /* size of bullet elment */
    width: 16px;
    height: 16px;
    background: url(../hinhanh/b05.png) no-repeat;
    overflow: hidden;
    cursor: pointer;
}

.jssorb05 div {
    background-position: -7px -7px;
}

.jssorb05 div:hover,
.jssorb05 .av:hover {
    background-position: -37px -7px;
}

.jssorb05 .av {
    background-position: -67px -7px;
}

.jssorb05 .dn,
.jssorb05 .dn:hover {
    background-position: -97px -7px;
}

.jssora12l,
.jssora12r {
    display: block;
    position: absolute;
    /* size of arrow element */
    width: 40px;
    height: 40px;
    cursor: pointer;
    background: url(../hinhanh/a13.png) no-repeat;
    overflow: hidden;
}

.jssora12l {
    background-position: -10px -40px;
}

.jssora12r {
    background-position: -70px -40px;
}

.jssora12l:hover {
    background-position: -130px -40px;
}

.jssora12r:hover {
    background-position: -190px -40px;
}

.jssora12l.jssora12ldn {
    background-position: -250px -40px;
}

.jssora12r.jssora12rdn {
    background-position: -310px -40px;
}


/* jssor slider bullet navigator skin 03 css */


/*
        .jssorb03 div           (normal)
        .jssorb03 div:hover     (normal mouseover)
        .jssorb03 .av           (active)
        .jssorb03 .av:hover     (active mouseover)
        .jssorb03 .dn           (mousedown)
        */

.jssorb03 {
    position: absolute;
}

.jssorb03 div,
.jssorb03 div:hover,
.jssorb03 .av {
    position: absolute;
    /* size of bullet elment */
    width: 21px;
    height: 21px;
    text-align: center;
    line-height: 21px;
    color: white;
    font-size: 12px;
    background: url(../img/b03.png) no-repeat;
    overflow: hidden;
    cursor: pointer;
}

.jssorb03 div {
    background-position: -5px -4px;
}

.jssorb03 div:hover,
.jssorb03 .av:hover {
    background-position: -35px -4px;
}

.jssorb03 .av {
    background-position: -65px -4px;
}

.jssorb03 .dn,
.jssorb03 .dn:hover {
    background-position: -95px -4px;
}


/* jssor slider bullet navigator skin 02 css */


/*
                .jssorb02 div           (normal)
                .jssorb02 div:hover     (normal mouseover)
                .jssorb02 .av           (active)
                .jssorb02 .av:hover     (active mouseover)
                .jssorb02 .dn           (mousedown)
                */

.jssorb02 {
    position: absolute;
}

.jssorb02 div,
.jssorb02 div:hover,
.jssorb02 .av {
    position: absolute;
    /* size of bullet elment */
    width: 21px;
    height: 21px;
    text-align: center;
    line-height: 21px;
    color: white;
    font-size: 12px;
    background: url(../img/b02.png) no-repeat;
    overflow: hidden;
    cursor: pointer;
}

.jssorb02 div {
    background-position: -5px -5px;
}

.jssorb02 div:hover,
.jssorb02 .av:hover {
    background-position: -35px -5px;
}

.jssorb02 .av {
    background-position: -65px -5px;
}

.jssorb02 .dn,
.jssorb02 .dn:hover {
    background-position: -95px -5px;
}
